.star-rating-container {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.star-on {
    color: gold;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.1s ease-in-out;
}

.star-off {
    color: #ccc;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.1s ease-in-out;
}

.star-on:hover, .star-off:hover {
    transform: scale(1.1);
}